.login-container {
    width: 22.5rem;
    margin-right: auto;
    margin-left: auto;
    margin-top: 12rem;

    .page-title {
        color: #6457a6;
        font-weight: 600;
    }

    .form-wrapper {
        background-color: white;
        border-radius: 0.25rem;
        padding: 25px;
    }
}
