body {
    background-color: #f4f4f8;
    font-family: 'Jost', sans-serif;
    color: #2d3142;
    text-rendering: optimizeLegibility;

    label,
    .label {
        font-size: 0.875rem;
        color: #8d99ae;
        font-weight: 600;
    }

    .form-control {
        &:focus {
            box-shadow: none;
            outline: none;
            border-color: #2d3142;
        }
    }

    .btn {
        min-width: 120px;
        letter-spacing: 0.25px;
        transition: all 300ms linear;

        &:focus,
        &:active,
        &:hover {
            box-shadow: none;
            outline: none;
        }

        &.btn-primary {
            background-color: #6457a6;
            border-color: #6457a6;

            &:hover,
            &:focus,
            &:active {
                color: #6457a6;
                background-color: transparent;
            }
        }

        &.btn-secondary {
            background-color: transparent;
            border-color: #eca400;
            color: #eca400;

            &:hover,
            &:focus,
            &:active {
                background-color: #eca400;
                color: white;
            }

            &.dropdown-toggle {
                &:focus {
                    box-shadow: none;
                }
            }
        }
    }

    .dropdown-toggle {
        &::after {
            margin-left: 0.5em;
            font-family: 'Font Awesome 5 Free';
            content: '\f107';
            font-size: 1em;
            font-weight: 900;
            vertical-align: middle;
            border: none;
        }

        &:hover {
            border-color: transparent;
        }

        &[disabled] {
            pointer-events: none;
            border-color: #2d3142;
            color: #2d3142;
            opacity: 0.6;
        }
    }

    .btn-secondary:not(:disabled):not(.disabled):active,
    .btn-secondary:not(:disabled):not(.disabled).active,
    .show > .btn-secondary.dropdown-toggle {
        background-color: #eca400;
        border-color: transparent;
    }

    .badge {
        font-size: 0.875rem;
        color: white;
        min-width: 100px;

        &.badge-success {
            background-color: #06d6a0;
        }
        &.badge-info {
            background-color: #4cc9f0;
        }

        &.badge-warning {
            background-color: #fe6d73;
        }
    }
}
