.container-fluid {
    margin-top: 56px;

    .react-bootstrap-table {
        display: block;
        width: 100%;
        overflow-x: auto;

        .table {
            table-layout: auto;
            color: #2d3142;

            tbody {
                tr {
                    .table-action-link {
                        color: #6457a6;
                        transition: all 200ms linear;

                        &:hover {
                            color: #eca400;
                        }
                    }
                }

                .selected-row {
                    td {
                        background-color: #6457a6;
                        color: white;
                    }

                    .table-action-link {
                        color: white;
                    }
                }
            }

            .table-header {
                color: #6457a6;
            }

            &.table-hover {
                tbody {
                    tr {
                        transition: all 200ms linear;
                        &:hover {
                            color: #eca400;
                            background-color: rgba(45, 49, 66, 0.1);

                            .table-action-link {
                                color: #eca400;
                            }
                        }
                    }
                }
            }

            &.table-striped {
                tbody {
                    tr {
                        &:nth-of-type(odd) {
                            background-color: rgba(45, 49, 66, 0.06);
                        }
                    }
                }
            }
        }
    }

    .pagination {
        .page-item {
            &.disabled {
                .page-link {
                    color: #2d3142;
                    background-color: transparent;
                    opacity: 0.6;
                }
            }

            &.active {
                .page-link {
                    background-color: #6457a6;
                    border-color: #6457a6;
                    color: white;
                }
            }

            .page-link {
                color: #6457a6;
                background-color: transparent;
                border-color: #6457a6;
                &:focus {
                    box-shadow: none;
                }
            }
        }
    }
}
